body {
    font-family: Helvetica;
}

header h1 {
    background-image: url("../images/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

#brushes h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

#frames h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

#paint h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

span {
    font-weight: bold;
    color: blue;
}